<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
		 version="2.4">
		 
	<servlet>
		<servlet-name>NewSessionTester</servlet-name>
		<servlet-class>com.example.NewSessionTester</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>NewSessionTesterWithEncoding</servlet-name>
		<servlet-class>com.example.NewSessionTesterWithEncoding</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>NewSessionTester</servlet-name>
		<url-pattern>/NewSessionTester.do</url-pattern>
		
		<servlet-name>NewSessionTesterWithEncoding</servlet-name>
		<url-pattern>/NewSessionTesterWithEncoding.do</url-pattern>
	</servlet-mapping>							

</web-app>
